img {
    width: 100px;
    height: auto;
}

.playing-card {
    position: absolute;
    left: 0;
}

ul.cards {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding-left: 0 !important;
}

ul.cards li {
    display: inline;
    float: left;
}

@media (max-width: 850px) {
    img {
        width: 80px;
    }
}

@media (max-width: 675px) {
    img {
        width: 60px;
    }
}