
.deck {
    display: inline-block;
}

.deck img {
    display: inline;
    float: left;
    cursor: pointer;
}
.draw-pile {
    height: 150px !important;
}

.draw-card {
    position: relative;
    top: 1px;
}

th {
    width: 33%;
}