
.deck {
    display: inline-block;
}

.deck img {
    display: inline;
    float: left;
    cursor: pointer;
}
.draw-pile {
    height: 150px !important;
}

.draw-card {
    position: relative;
    top: 1px;
}

th {
    width: 120px;
}

button:disabled {
    opacity: 1 !important;
}

@media (max-width: 850px) {
    .draw-pile {
        height: 120px !important;
    } 
}

@media (max-width: 675px) {
    .draw-pile {
        height: 90px !important;
    }
}